<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form th:method="DELETE" id="deleteUserForm">
          <div class="text-center">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <label for="user-idD" class="form-label fw-bold">ID</label>
                <input type="text" class="form-control text-muted" id="user-idD" name="idD" readonly>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6">
                <label for="modal-usernameD" class="form-label fw-bold">Username</label>
                <input type="text" class="form-control mb-4 text-muted" id="modal-usernameD" name="usernameD" readonly
                       required>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6">
                <label for="modal-ageD" class="form-label fw-bold">Age</label>
                <input type="text" class="form-control mb-4 text-muted" id="modal-ageD" name="ageD" readonly>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6 form-group fw-bold mb-4">
                <label for="rolesSelectD">Roles:</label>
                <select class="form-control" size="2" id="rolesSelectD" name="rolesD" multiple readonly>
                  <option th:each="role : ${roles}" th:value="${role.id}"
                          th:text="${role.name}"></option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>